<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

  <div class="login-box card mar shadow">
    <div class="card-body">
      

        <a href="javascript:void(0)" class="text-center db"
          ><img src="../../../assets/img/logo.jpeg" class="logo" alt="Home" /><br
        /></a>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input
              type="text"
              name="nombre"
              class="form-control"
              placeholder="Nombre"
              required
            />
          </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-xs-12">
                <input
                type="text"
                name="paterno"
                class="form-control"
                placeholder="Apellido Paterno"
                required
              />
             </div>
          </div>
          <br>
          <div class="form-group">
            <div class="col-xs-12">
                <input
                type="text"
                name="materno"
                class="form-control"
                placeholder="Apellido Materno"
                required
              />
             </div>
          </div>
          <br>
        <div class="form-group">
            <div class="col-xs-12">
                <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Usuario"
                required
              />
             </div>
          </div>
          <br>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="*******"
              required
            />
            <div class="invalid-feedback">Insertar porfavor su password</div>
          </div>
        </div>
      <br>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-block ov-btn-grow-skew-reverse btn-rounded"
              routerLink="/login"
              type="submit">Registrarme</button>
          </div>
        </div>
    </div>
  </div>
